[submodule "backend"]
	path = backend
	url = https://github.com/DisburseFlow/stellar-disbursement-platform-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/DisburseFlow/stellar-disbursement-platform-frontend.git
